<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Email verify</title>
</head>
<body>
    Here is your OTP Value
    <br /><br />
    {{OTP}}
     <br /><br />
     It expires in {{expiresIn}}...
</body>
</html>