<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Today Email verify</title>
</head>
<body>
    <img src="cid:site_logo" style="border-radius: 50%;"/>
    Pls click me now sir/ma <a href={{url}}>Click to reset password!</a>
</body>
</html>