/**
 * SOCIAL ICONS CSS
 *
 * @format
 */

.social_icons {
	display: flex;
	flex-direction: row;
}

.social_icons .icon {
	font-size: 22px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 0px 5px;
	color: #fff;
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.social_icons .icon:hover {
	animation: rotate 0.7s ease-in-out both;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

@media only screen and (max-width: 768px) {
	.social_icons .icon {
		font-size: 18px !important;
		width: 28px;
		height: 28px;
	}
}

/* WEB HEADER CSS */
.header {
}
