/**
 * WEB HEADER CSS
 *
 * @format
 */

.header_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: max-content;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 100;
	color: #fff;
}

.pre_header,
.header {
	height: 45px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 0 70px;
	transition: all 0.4s ease;
}

.header {
	height: 75px;
	position: fixed;
	top: 45px;
	left: 0;
	right: 0;
}

.header .site_name {
	color: #fff;
	font-weight: bold;
	font-size: 45px;
	/* letter-spacing: .19rem; */
}
.header .site_logo {
	width: 50px;
	height: 50px;
	background: #fff !important;
	border-radius: 50% !important;
	padding: 4px;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}
.header_nav {
	display: flex;
	align-items: center;
}

.header_open,
.responsive_only,
.header_close {
	display: none;
}

.header_nav .logo_wrapper {
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 20px;
	padding: 10px;
	display: none;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.header_link {
	text-decoration: none;
	font-weight: 600;
	color: #fff;
	letter-spacing: 0.09rem;
	font-size: 17px;
	margin: auto 10px;
}

.header_link:hover,
.header_link[class*='active'] {
	color: var(--color-primary);
}

.social_icons {
    display: flex;
    flex-direction: row;
}

.social_icons .icon {
    font-size: 22px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0px 5px;
    color: #fff;
    transition: all .3s cubic-bezier(.02, .01, .47, 1);
}

.social_icons .icon:hover {
    animation: rotate .7s ease-in-out both;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

@media screen and (max-width: 992px) {
	.pre_header {
		display: none !important;
	}

	.header {
		padding: 0px 20px;
		top: 0;
	}

	.header .site_name {
		font-size: 35px;
	}

	.header_nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw;
		min-height: 100vh;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		z-index: 200;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		padding: 120px 0 250px;
		background: #20212b !important;
		transition: 1.5s;
		transform: translateY(-100vh);
	}

	.header_nav .logo_wrapper {
		display: flex;
	}

	.responsive_only {
		display: block;
		flex-flow: column;
	}

	.header_footer_wrapper {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        display: flex;
    }

	.header_footer {
        position: relative;
        width: 100%;
        background: var(--color-primary);
        opacity: 1;
        padding: 20px 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 0px 0px 4px 4px;
    }

    .header_footer_text {
        text-align: center;
        color: #fff;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 10px;
    }
	
    .header_footer_wave {
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 50px;
        background: url(../assets/wave.png);
        background-size: 1000px 50px;
    }

    .header_footer_wave#wave1 {
        z-index: 99;
        opacity: .4;
        bottom: 0;
        animation: animateWave 4s linear infinite;
    }

    .header_footer_wave#wave2 {
        z-index: 10;
        opacity: .3;
        bottom: 10px;
        animation: animateWave_02 3s linear infinite;
    }

    .header_footer_wave#wave3 {
        z-index: 99;
        opacity: .6;
        bottom: 15px;
        animation: animateWave 3s linear infinite;
    }

    .header_footer_wave#wave4 {
        z-index: 10;
        opacity: .9;
        bottom: 20px;
        animation: animateWave_02 3s linear infinite;
    }

	.header_link {
		margin: 15px 0;
	}

	.header_close {
		position: fixed;
		top: 40px;
		right: 25px;
		color: #fff;
		font-size: 22px;
		font-weight: 600;
		display: flex;
	}

	.header_open {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: right;
	}

	.header_open span {
		width: 35px;
		height: 4px;
		border-radius: 20px;
		background: #fff;
		margin: 4px 0;
	}

	.header_open span:nth-child(2) {
		width: 30px !important;
	}
}

@media screen and (max-width: 468px) {
	.header {
		padding: 0px 10px;
		height: 60px;
	}

	.header .site_name {
		font-size: 23px;
	}

	.header_open span {
		width: 22px;
		height: 3px;
		margin: 2px 0;
	}

	.header_open span:nth-child(2) {
		width: 17px !important;
	}
}

/* WEB FOOTER CSS */
.footer {
	width: 100%;
	background: linear-gradient(
		to bottom right,
		rgba(166, 53, 144, 0.8),
		rgba(166, 53, 144, 0.8),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		var(--color-primary),
		rgba(166, 53, 144, 0.8),
		rgba(166, 53, 144, 0.8)
	);
	position: relative;
	opacity: 1;
	margin: 0 0 0;
	padding: 20px 70px;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5) !important;
}

@media screen and (max-width: 992px) {
	.footer {
		padding: 20px 30px;
	}
}

.footer_wave {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	height: 70px;
	background: url(../assets/wave.png);
	background-size: 1000px 70px;
}

.footer_wave#wave1 {
	z-index: 99;
	opacity: 0.4;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}

.footer_wave#wave2 {
	z-index: 10;
	opacity: 0.3;
	bottom: 10px;
	animation: animateWave_02 3s linear infinite;
}

.footer_wave#wave3 {
	z-index: 99;
	opacity: 0.6;
	bottom: 15px;
	animation: animateWave 3s linear infinite;
}

.footer_wave#wave4 {
	z-index: 10;
	opacity: 0.9;
	bottom: 20px;
	animation: animateWave_02 3s linear infinite;
}

.footer_top,
.footer_mid {
	padding: 15px 0;
	width: 100%;
	border-bottom: 1px solid #fff;
}

.footer_mid {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.footer_top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.logo_sec {
	border-radius: 50%;
	background: #fff;
	padding: 1px;
	height: 50px;
	margin-right: 5px;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2) !important;
}

.footer .logo {
	height: 40px;
	width: 40px;
}

.site_name {
	font-size: 22px;
	font-weight: 800;
	color: #fff;
}

.connect {
	display: none;
}

@media screen and (max-width: 640px) {
	.footer_top {
		flex-direction: column;
	}

	.logo_sec {
		height: 30px;
		width: 30px;
	}

	.footer .logo {
		height: 25px;
		width: 25px;
	}

	.site_name {
		font-size: 17px;
	}

	.connect {
		display: flex;
		margin: 8px 0 3px;
		color: var(--color-primary);
	}

	.footer .social_icons {
		margin: 10px;
	}
}

.footer_box {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.footer_navbox_wrapper {
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

.footer_box_title {
	font-weight: 700;
	color: var(--color-primary);
	font-size: 20px;
	margin: 15px 0;
}

.footer_link {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	margin: 3px 0;
	display: flex;
	transition: all 0.3s ease;
}

.address {
	font-size: 16px;
}

.footer_link:hover {
	letter-spacing: 0.09rem;
	color: var(--color-primary);
}

.footer_link[class*='active'] {
	color: var(--color-primary);
}

@media screen and (max-width: 476px) {
	.footer_box_title {
		font-size: 18px;
		margin: 10px 0;
	}
}

.footer_bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #fff;
	padding: 20px 0 0;
	font-size: 15px;
	font-weight: 500;
}

@media screen and (max-width: 640px) {
	.footer_bottom {
		font-size: 14px;
	}
}

.footer .subscribe {
	border: 1px solid var(--color-primary);
	outline: none;
	padding: 10px;
	height: 50px;
	width: 100%;
	border-radius: 5px;
	transition: all 0.3s ease;
	font-size: 15px;
	background: #ddd;
}

.footer .subscribe:focus {
	border: 2px solid var(--color-primary);
	background: #eee;
}

@keyframes animateWave {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}

@keyframes animateWave_02 {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: 1000px;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(4deg);
	}

	50% {
		transform: rotate(-4deg);
	}

	75% {
		transform: rotate(2deg);
	}

	100% {
		transform: rotate(0deg);
	}
}
/* TOAST CSS */
.toast {
	padding: 10px;
	font-size: 15px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	font-weight: 600;
	font-family: FSJoey;
	display: flex;
	align-items: center;
	justify-content: space-between;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.toast_body {
	display: flex;
	flex-direction: column;
	color: #fff;
	margin-top: 2px;
}

.toast_success {
	background: var(--color-success);
}

.toast_info {
	background: var(--color-info);
}

.toast_warning {
	background: var(--color-warning);
}

.toast_error {
	background: var(--color-danger);
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}

	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}

	to {
		bottom: 0;
		opacity: 0;
	}
}
