/**
 * SOCIAL ICONS CSS
 *
 * @format
 */

.social_icons {
	display: flex;
	flex-direction: row;
}

.social_icons .icon {
	font-size: 22px;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	margin: 0px 5px;
	color: #fff;
	transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.social_icons .icon:hover {
	animation: rotate 0.7s ease-in-out both;
	box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

@media only screen and (max-width: 768px) {
	.social_icons .icon {
		font-size: 18px !important;
		width: 28px;
		height: 28px;
	}
}

/* WEB HEADER CSS */
.footer_wave {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100%;
	height: 50px;
	background: url(../assets/wave.png);
	background-size: 1000px 50px;
}

.footer_wave#wave1 {
	z-index: 99;
	opacity: 0.4;
	bottom: 0;
	animation: animateWave 4s linear infinite;
}

.footer_wave#wave2 {
	z-index: 10;
	opacity: 0.3;
	bottom: 10px;
	animation: animateWave_02 3s linear infinite;
}

.footer_wave#wave3 {
	z-index: 99;
	opacity: 0.6;
	bottom: 15px;
	animation: animateWave 3s linear infinite;
}

.footer_wave#wave4 {
	z-index: 10;
	opacity: 0.9;
	bottom: 20px;
	animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
	0% {
		background-position-x: 1000px;
	}

	100% {
		background-position-x: 0px;
	}
}

@keyframes animateWave_02 {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: 1000px;
	}
}

/* WEB FOOTER CSS */
.footer_nav_subject {
	font-weight: 600;
	font-family: var(--font-family-medium);
	font-size: 20px;
	position: relative;
	margin: 0px 0px 30px;
	color: #fff;
}

.footer_nav_subject::after {
	content: '';
	position: absolute;
	height: 4px;
	width: 40px;
	background: rgba(255, 255, 255, 98%);
	border-radius: 5px;
	bottom: -5px;
	left: 0px;
}

/* ABOUT US INTRO CSS */
.about_us_intro_wrapper {
	margin-top: 80px;
	width: 100%;
	align-items: center;
}

.side_title,
.about_us_intro_wrapper .title_mob {
	color: var(--color-primary);
	font-size: 30px;
	font-weight: 700;
	width: 100%;
	text-shadow: 0px 0px 1px 1px rgba(250, 98, 48, 0.9);
	position: relative;
}

.about_us_intro_wrapper .title_mob {
	display: none;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	font-size: 20px;
	color: #20212b;
}

.title_bold {
	font-size: 45px;
	line-height: 50px;
	color: var(--color-blue);
	font-weight: 700;
}

.about_right {
	padding: 0 30px;
}

.tab_wrapper {
	width: 100%;
}

.tab_title {
	text-transform: none;
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	font-weight: 600;
	border-radius: 0px;
}

.tab_title[class*='active'] {
	border-bottom: 2px solid var(--color-primary);
}

.parrallax {
	/* background-image: url(../assets/images/logo.png); */
	/* Set a specific height */
	min-height: 70vh;
	height: 100%;
	border: 1px solid var(--color-primary);
	box-shadow: 0px 0px 1px 1px rgba(166, 53, 144, 0.4);
	border-radius: 5px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: 20%;
	background-repeat: no-repeat;
	/* background-size: cover; */
}

.blockquote {
	background: inherit !important;
	border-left: 8px solid #ccc;
	margin: 9px 0 0;
	padding: 0.5em 10px;
	quotes: '\201C''\201D''\2018''\2019';
	padding: 20px 10px 15px 20px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	font-family: var(--font-family-medium);
}

.blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
@media screen and (max-width: 1200px) {
	.parrallax {
		min-height: 70vh;
		border: 1px solid var(--color-primary);
		background-position: 13%;
		background-size: 40% 60%;
	}
}

@media screen and (max-width: 992px) {
	.side_title {
		font-size: 25px;
	}

	.title_bold {
		line-height: 45px;
		font-size: 35px;
	}
}

@media screen and (max-width: 768px) {
	.side_title {
		font-size: 22px;
		text-align: center;
	}

	.title_bold {
		text-align: center;
	}

	.parrallax {
		min-height: 60vh;
		background-position: center;
		background-size: 50% 60%;
	}

	.about_right {
		padding: 8px;
	}
}

@media screen and (max-width: 478px) {
	.about_us_intro_wrapper {
		margin-top: 20px;
	}

	.about_us_intro_wrapper .title_mob {
		display: flex;
	}

	.title_bold {
		font-size: 22px;
		line-height: 32px;
		margin-top: 7px;
	}

	.tab_title {
		font-size: 16px;
	}

	.parrallax {
		margin-top: 15px;
		min-height: 30vh;
		background-position: center;
		background-size: 60%;
	}
}

/* SECTION TITLE CSS */
.section_title {
	color: var(--color-primary);
	font-size: 26px;
	font-weight: 700;
	margin: 20px 0;
	text-align: center;
	width: 100%;
}

.section_sub_title {
	font-size: 45px;
	line-height: 50px;
	color: var(--color-blue);
	font-weight: 700;
	text-align: center;
	width: 60%;
}

@media screen and (max-width: 992px) {
	.section_title {
		font-size: 23px;
		margin: 5px 0;
	}

	.section_sub_title {
		width: 70%;
		font-size: 35px;
		line-height: 45px;
	}
}

@media screen and (max-width: 768px) {
	.section_title {
		font-size: 22px;
		margin: 15px 0;
	}

	.section_sub_title {
		font-size: 35px;
		line-height: 50px;
		width: 90%;
	}
}

@media screen and (max-width: 512px) {
	.section_title {
		font-size: 20px;
		margin: 5px 0;
	}

	.section_sub_title {
		font-size: 30px;
		line-height: 40px;
		width: 100%;
	}
}

@media screen and (max-width: 400px) {
	.section_title {
		font-size: 17px;
	}

	.section_sub_title {
		font-size: 22px;
		line-height: 32px;
	}
}

/* FLIP CARD CSS */
.flip_card {
	margin: 15px 20px;
	/* height: 450px; */
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip_card_content {
	cursor: pointer;
	width: 100%;
	height: 100%;
	border-top: 2px solid var(--color-primary);
	box-shadow: 0 0 10px rgb(0 0 0 / 16%);
	border-radius: 10px;
	position: relative;
	border-radius: 10px;
	transition: transform 0.9s;
	transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip card container */

/* show only on mouse devices */
@media (hover: hover), (-moz-touch-enabled: 0), (pointer: fine) {
	.flip_card:hover .flip_card_content {
		transform: rotateY(180deg);
	}
}

/* show only on touch devices */
@media (hover: none), (hover: on-demand), (-moz-touch-enabled: 1), (pointer: coarse) {
}

/* Position the front and back side */
.flip_card_front,
.flip_card_back {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: inherit;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	/* Safari */
	backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip_card_front {
	background-color: #fff;
	color: black;
}

/* Style the back side */
.flip_card_back {
	background-color: #fff;
	color: #000;
	transform: rotateY(180deg);
}

.flip_card_header {
	height: auto;
	flex-wrap: wrap;
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding: 10px;
	font-weight: 600;
	font-size: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* CONTACT FORM CSS */
.contact_form_wrapper {
	width: 100%;
	padding: 20px 40px;
	box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%),
		0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
	background: rgb(255 255 255 / 70%);
	border-radius: 10px;
	border-top: 2px solid var(--color-primary);
	height: max-content;
}

.contact_form_header {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.contact_form_wrapper .title {
	font-size: 35px;
	font-weight: 700;
}

.contact_form {
	padding: 30px 0px 0px 0px;
}

.contact_form input,
.contact_form textarea {
	width: 100%;
	border-radius: 5px;
	height: 50px;
	border: none;
	outline: none;
	box-shadow: 0px 0 3px rgb(0 0 0 / 30%);
	margin: 10px 0px 20px 0;
	padding: 10px 20px;
	font-size: 15px;
	transition: all 0.3s ease;
}

.contact_form textarea {
	min-height: 100px;
	resize: vertical;
}

.contact_form input:focus,
.contact_form textarea:focus {
	box-shadow: 0px 0 8px var(--color-primary);
}

.contact_form .label {
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
}

.contact_form_logo {
	height: 300px !important;
	width: 100% !important;
}

@media screen and (max-width: 768px) {
	.contact_form_logo {
		display: none !important;
	}

	.contact_form {
		padding: 30px 0px 0px;
	}
}

@media screen and (max-width: 510px) {
	.contact_form_wrapper {
		padding: 20px 30px;
	}

	.contact_form_header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.contact_form_wrapper .title {
		text-align: center;
		margin-bottom: 10px;
		font-size: 28px;
	}
}

@media screen and (max-width: 410px) {
	.contact_form_wrapper {
		padding: 20px 15px;
	}

	.contact_form_wrapper .title {
		font-size: 22px;
	}
}
