/**
 *
 * @format
 */

/* Header Css */
.header-original {
	@apply shadow-md;
	border-bottom: 1px solid #eee !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
@media screen and (max-width: 768px) {
	.hide-side-nav {
		@apply translate-x-[-100vw];
	}
	.hide-modile-header {
		@apply translate-y-[-100vh];
	}
	.mobile-header-shadow {
		@apply shadow-md;
		border-bottom: 1px solid #eee;
	}
	.mobile-header-bg-original {
		@apply bg-[var(--color-primary)];
	}
}

/* Body Sticky */
.body-sticky {
	overflow: hidden !important;
}
/* App Colors */
.color-primary {
	color: var(--color-primary) !important;
}
.text-white {
	color: #fff !important;
}
.bg-primary {
	background: var(--color-primary) !important;
}
/* Fonts */
.font-medium-custom {
	font-weight: 600 !important;
	font-family: var(--font-family-medium);
}
/* TRUNCATE TEXTS */
.text-single-line {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.line-height-1 {
	line-height: 1.4rem !important;
}
.truncate-overflow {
	/* --max-lines: 3; */
	position: relative;
	max-height: calc(var(--element-line-height) * var(--element-max-lines));
	overflow: hidden;
	display: inline-flex;
	/* padding-right: 1rem; */
}
.truncate-overflow::before {
	position: absolute;
	content: '...';
	bottom: 0;
	right: 0;
}
.truncate-overflow::after {
	content: '';
	/* position: absolute;
	right: 0; */
	/* width: 1rem;
	height: 1rem; */
	background: white;
}
/* FLIP CARD CSS */
.rotate-flip {
	transform: rotateY(180deg);
}

.translateY-100 {
	transform: translateY(-100px) !important;
}

.translateY-45 {
	transform: translateY(-45px) !important;
}

.translateY-none {
	transform: none !important;
}
.header-original {
	top: 0;
	background: var(--color-primary);
	height: 60px;
	border: none;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

/* TEXTS & FONTS */
.cursor-pointer {
	cursor: pointer !important;
}
.text-decor-none {
	text-decoration: none !important;
	text-transform: none !important;
}

.fs-7 {
	font-size: 14px !important;
}

.fs-8 {
	font-size: 13px !important;
}
.fs-9 {
	font-size: 12px !important;
}
/* CARD CSS */
.card {
	background-color: #fff;
	border-radius: 10px;
	border: none;
	position: relative;
	margin-bottom: 30px;
	box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
	display: flex;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
}

.card.card-primary {
	border-top: 2px solid var(--color-primary);
}

/* SHADOWS */
.mild-shadow {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.paper-shadow {
	box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 1px 0px rgba(0, 0, 0, 0.12) !important;
}

.little-shadow {
	box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.3) !important;
}
/* BORDER RADIUS */

.radius-5 {
	border-radius: 5px !important;
}

@media screen and (min-width: 992px) {
	.scroll-design::-webkit-scrollbar {
		width: 3px;
		background: #eee;
	}

	.scroll-design::-webkit-scrollbar-thumb {
		background: rgba(134, 134, 134, 0.5);
		border-radius: 0px;
	}

	.scroll-design::-webkit-scrollbar-thumb:hover {
		background: rgb(0 0 0 / 30%);
	}

	.scroll-design::-webkit-scrollbar-track {
		background: #eee;
	}
}

/* BUTTONS */

.btn-site {
	background: var(--color-primary) !important;
}
/* SOCIAL ICONS */
.facebook {
	background: #426782;
}

.facebook:hover {
	background: #fff;
	color: #426782 !important;
}

.instagram {
	background: #e1306c;
}

.instagram:hover {
	background: #fff;
	color: #e1306c !important;
}

.youtube {
	background: #ff0000;
}

.youtube:hover {
	background: #fff;
	color: #ff0000 !important;
}

.telegram {
	background: #1da1f2;
}

.telegram:hover {
	background: #fff;
	color: #1da1f2 !important;
}

.whatsapp {
	background: #04cf26;
}

.whatsapp:hover {
	background: #fff;
	color: #04cf26 !important;
}
